---
import PageLayout from "@/layouts/Base";
import PostPreview from "@/components/blog/PostPreview";
import SocialList from "@/components/SocialList";
import { getAllPosts, sortMDByDate } from "@/utils";
import { Image } from "astro:assets";
import profileImg from "@/assets/img/kirill-profile-picture.jpg";
import Cards from "@/components/Cards";

const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<div class="flex flex-col items-center justify-center sm:flex-row">
			<div class="mr-4 flex flex-col">
				<Image
					src={profileImg}
					alt="A profile picture of Kirill So"
					loading="eager"
					width={125}
					height={125}
					class="mb-3 rounded-full"
				/>
				<SocialList />
			</div>

			<div class="flex grow flex-col">
				<h1 class="title">Kirill So</h1>
				<p>
					I’m a principal product manager based in Singapore. Previously, I worked on various tech
					products, co-founded a startup and ran a profitable agency. At nights & weekends I like to
					tinker with web apps, write essays, study new disciplines and teach others about making
					sense of the world. I currently live in Singapore but left my heart in Czechia.
				</p>
			</div>
		</div>
	</section>
	<section aria-label="Blog posts" class="mt-5">
		<h2 class="title mb-2 text-xl">Posts</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				allPostsByDate.map((p) => (
					<li class="flex flex-col gap-x-2 sm:flex-row">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>
	<section class="mt-5">
		<h2 class="title mb-2 text-xl">Projects</h2>
		<Cards
			cards={[
				{
					title: "Google clone",
					to: "/projects/google-clone/",
					description: "Search with Google API",
					gradientFrom: "#818cf8",
					gradientTo: "#d8b4fe",
				},
				{
					title: "Panic theme",
					to: "https://www.github.com/kirso/logseq-panic-theme",
					description: "Make Logseq PKM pretty",
					gradientFrom: "#fde68a",
					gradientTo: "#fca5a5",
				},
				{
					title: "Schwiftyverse",
					to: "https://schwiftyverse.vercel.app/",
					description: "GIFs on Solana blockchain",
					gradientFrom: "#6ee7b7",
					gradientTo: "#9333ea",
				},
			]}
		/>
	</section>

	<!-- <section class="mt-5">
		<SignupForm />
	</section> -->
</PageLayout>
