---
import { getAllPosts } from "@/data/post";

const posts = await getAllPosts();
---

<html>
  <head>
    <title>OG Image Test</title>
  </head>
  <body class="p-8">
    <h1 class="mb-4 text-2xl font-bold">OG Image Test</h1>
    <div class="grid gap-8">
      {
        posts.map((post) => (
          <div class="rounded border p-4">
            <h2 class="mb-2 font-bold">{post.data.title}</h2>
            <img
              src={`/og-image/${post.id}.png`}
              alt={`OG image for ${post.data.title}`}
              class="border"
            />
          </div>
        ))
      }
    </div>
  </body>
</html>
