---
/** Export the Props type alias **/
const { title, description, to, gradientFrom, gradientTo } = Astro.props;
export type Props = {
  to: string;
  title: string;
  description: string;
  gradientFrom: string;
  gradientTo: string;
};
// Get component props from Astro.pages
---

<a href={to} class="card">
  <div class="bg-global-bg flex flex-col rounded-md p-5">
    <div class="prose text-lg leading-7 font-bold">{title}</div>
    <div class="prose text-base">{description}</div>
    <!-- Render the arrow via HTML entity name: → = &rarr;  -->
    <div class="prose mt-auto mr-0 mb-auto ml-0 pt-8 text-lg">&rarr;</div>
  </div>
</a>

<style define:vars={{ gradientFrom, gradientTo }}>
  .card {
    background-image: linear-gradient(
      to right,
      var(--gradientFrom),
      var(--gradientTo)
    );
    --radius: 10px;
    padding: 4px;
    border-radius: var(--radius);
    text-decoration: none;
    transition: all 0.2s ease-in-out;
  }
  .card:hover {
    transform: scale(0.95);
  }
</style>
