---
import { Icon } from "astro-icon";

/**
	Uses https://github.com/natemoo-re/astro-icon#readme
	Find icons @ https://icones.js.org/
*/
const socialLinks = [
	{
		name: "simple-icons:twitter",
		friendlyName: "Twitter",
		link: "https://twitter.com/kirso_",
	},
	{
		name: "simple-icons:github",
		friendlyName: "Github",
		link: "https://github.com/kirso",
	},
	{
		name: "simple-icons:linkedin",
		friendlyName: "LinkedIn",
		link: "https://www.linkedin.com/in/kirso/",
	},
	{
		name: "simple-icons:substack",
		friendlyName: "Substack",
		link: "https://kirill.substack.com",
	},
];
---

<div class="flex flex-wrap items-end gap-x-4">
	<ul class="flex flex-1 items-center gap-x-0.5 sm:flex-initial">
		{
			socialLinks.map(({ link, name, friendlyName }) => {
				const isEmail = name.includes("email") || friendlyName.toLowerCase().includes("email");
				return (
					<li class="flex">
						<a
							class="inline-block p-1 sm:hover:text-link"
							href={link}
							target="_blank"
							rel={`noopener noreferrer me ${isEmail ? "authn" : ""}`}
						>
							<Icon class="h-5 w-5" name={name} aria-hidden="true" focusable="false" />
							<span class="sr-only">{friendlyName}</span>
						</a>
					</li>
				);
			})
		}
	</ul>
</div>
