---
import type { Page, GetStaticPaths } from "astro";
import type { CollectionEntry } from "astro:content";
import PageLayout from "./../../layouts/Base.astro";
import ProjectPreview from "@/components/project/ProjectPreview";
import Pagination from "@/components/Paginator";
import { getAllProjects, sortProjectsByDate } from "@/utils";

export const getStaticPaths = (async ({ paginate }) => {
	const allProjects = await getAllProjects();
	const allProjectsByDate = sortProjectsByDate(allProjects);
	return paginate(allProjectsByDate, { pageSize: 10 });
}) satisfies GetStaticPaths;

interface Props {
	page: Page<CollectionEntry<"project">>;
}

const { page } = Astro.props;

const meta = {
	title: "Projects",
	description: "Kiril So - a list of projects I am working on or finished in the past",
};

const paginationProps = {
	...(page.url.prev && {
		prevUrl: {
			url: page.url.prev,
			text: `← Previous Project`,
		},
	}),
	...(page.url.next && {
		nextUrl: {
			url: page.url.next,
			text: `Next Project →`,
		},
	}),
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-6">Projects</h1>
	<div class="grid gap-y-16 sm:grid-cols-[3fr_1fr] sm:gap-x-8">
		<section aria-label="Projects list">
			<ul class="space-y-8 text-start">
				{
					page.data.map((p) => (
						<li class="flex flex-col flex-wrap gap-2 sm:flex-row [&_q]:basis-full">
							<ProjectPreview project={p} as="h2" withDesc />
						</li>
					))
				}
			</ul>
			<Pagination {...paginationProps} />
		</section>
	</div>
</PageLayout>
