---
import type { CollectionEntry } from "astro:content";
import type { HTMLTag, Polymorphic } from "astro/types";
import FormattedDate from "@/components/FormattedDate.astro";

type Props<Tag extends HTMLTag> = Polymorphic<{ as: Tag }> & {
	post: CollectionEntry<"post">;
	withDesc?: boolean;
};

const { as: Tag = "div", post, withDesc = false } = Astro.props;
---

<FormattedDate
  class="min-w-[7.5rem] shrink-0 text-text-secondary"
  style="font-size: var(--text-micro);"
  date={post.data.publishDate}
/>
<Tag>
  {post.data.pinned && <span class="text-text-tertiary" title="Pinned">↑ </span>}
  {post.data.draft && <span class="text-text-tertiary">(Draft) </span>}
  <a class="link" data-astro-prefetch href={`/posts/${post.id}/`}>
    {post.data.title}
  </a>
</Tag>
{withDesc && <q class="text-text-secondary line-clamp-3" style="font-size: var(--text-micro);">{post.data.description}</q>}
