---
import type { TocItem } from "@/utils/generateToc";

interface Props {
	heading: TocItem;
}

const {
	heading: { children, depth, slug, text },
} = Astro.props;
---

<li class={depth > 2 ? "ml-3" : ""}>
  <a
    class="link-nav line-clamp-2"
    href={`#${slug}`}
  >
    {text}
  </a>
  {
    !!children.length && (
      <ol class="mt-2 space-y-2">
        {children.map((subheading) => (
          <Astro.self heading={subheading} />
        ))}
      </ol>
    )
  }
</li>
